---
import ContactVideo from '../components/ContactVideo.astro';
import Layout from '../layouts/Layout.astro';
import Calendar from '../components/Calendar.vue'
import Footer from '../components/footer.astro';
---

<Layout title="Elevated">
	<main class="lets-talk">
		<div class="container">
			<div class="lets-talk-header">
				<div class="lets-talk-header-info">
					<h1>Say Hello</h1>
					<p>hello@weareelevated.co</p>
				</div>
				<img 
				src="/img/arrow-left-talk-to-us-page.svg" 
				alt=""
				width="64"
				height="24"
				>
				<p class="lets-talk-subtitle">We love cool people. Whether you’ve got a new project or just want to chat, we want to hear from you.</p>
			</div>
		</div>
		<ContactVideo />
		<Calendar client:load />
	</main>
	<Footer />
</Layout>

<style lang="sass">
	.lets-talk
		.container
			margin: 134px auto 0
			max-width: 1260px
			width: calc(100% - 80px)
			padding-top: 80px
	.lets-talk-header
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		h1, .lets-talk-subtitle, p
			margin: 0
			color: #fff
		h1
			font-family: var(--flexible)
			font-size: 200px
			font-weight: normal
		p, .lets-talk-subtitle
			font-size: 20px
			font-family: var(--inter)
			line-height: 27px
			font-weight: 500
		.lets-talk-subtitle
			width: 289px
			text-align: right
			padding-top: 40px
	@media all and (max-width: 1024px)
		.lets-talk
			.container
				margin: 80px auto 0
		.lets-talk-header
			h1
				font-size: clamp(60px, calc(3.75rem + ((1vw - 3.2px) * 19.8864)), 200px)
			p
				font-size: clamp(12px, calc(0.75rem + ((1vw - 3.2px) * 1.1364)), 20px)
			.lets-talk-subtitle
				width: 200px
				font-size: 16px
				font-weight: normal
				line-height: 140%
	@media all and (max-width: 768px)
		.lets-talk
			.container
				width: calc(100% - 60px)
		.lets-talk-header
			img
				max-width: 40px
				height: auto
				display: block	
	@media all and (max-width: 550px)
		.lets-talk-header
			.lets-talk-subtitle
				width: 150px
	@media all and (max-width: 450px)
		.lets-talk-header
			h1
				font-size: 100px
			img
				transform: rotate(90deg)
			.lets-talk-subtitle
				width: 100%
				text-align: left
</style>
