---
import ElevatedAnimation from '../components/ElevatedAnimation.astro';
import Footer from '../components/footer.astro';
import TheTeam from '../components/TheTeam.astro';
import WorkWithUs from '../components/WorkWithUs.astro';
import Layout from '../layouts/Layout.astro';
import { ArrowTeamSubtitle } from '../components/images'
---

<Layout title="Elevated">
	<main class="lets-rock-page">
		<div class="container">
			<div class="header-block">
				<img 
					src="/img/arrow-down-the-team.svg" 
					alt=""
					loading="lazy"
					width="24"
					height="134"
					class="arrow-the-team"
				>
				<h1>The Team</h1>
			</div>
			<TheTeam />
			<div class="text-block">
				<h2>At Elevated</h2>
				<img src={ArrowTeamSubtitle} alt="" width="8" height="20" loading="lazy" class="arrow-the-team-subtitle">
				<p class="text-block-big">We believe in the power of teams. Great work comes through collaboration, iteration and an unwavering commitment to excellence.</p>
				<p class="text-block-small">We celebrate diversity in our team and value the unique perspective each member brings to every project.</p>
			</div>
		</div>
		<WorkWithUs header={true} small={false} type="meet-the-team" />
		<ElevatedAnimation />
	</main>
	<Footer />
</Layout>

<style lang="sass">
	@keyframes arrowAnimation
		0%
			transform: translateY(-5px)
		100%
			transform: translateY(5px)
	.arrow-the-team
		animation-name: arrowAnimation
		position: relative
		animation-duration: .7s
		animation-iteration-count: infinite
		animation-direction: alternate
	.lets-rock-page
		background-color: #000
		background-image: url('/img/bg-lets-rock-min.jpg')
		background-repeat: no-repeat
		background-position: center top
		background-size: cover
		min-height: 2331px
		.container
			width: calc(100% - 60px)
			max-width: 824px
			margin: 134px auto 0
		h1
			font-family: var(--flexible)
			font-size: 200px
			line-height: 1
			text-transform: uppercase
			color: #fff
			margin: 0
			line-height: 90%
			letter-spacing: 0.02em
			font-weight: normal
		.header-block
			display: flex
			justify-content: flex-start
			align-items: baseline
			height: 680px
			align-items: center
			align-content: center
			grid-gap: 50px
	.text-block-big
		font-size: clamp(30px, calc(1.875rem + ((1vw - 3.2px) * 4.2614)), 60px)
		line-height: 120%
		margin: 40px 0 78px
	.text-block-small
		font-family: var(--gelion)
		font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 1.9886)), 30px)
		line-height: 120%
	.text-block
		margin: 220px 0 60px
		font-family: var(--inter)
		font-size: 35px
		line-height: 42px
		max-width: 780px
		h2
			color: #fff
			margin: 0
			font-size: 30px
			line-height: 36px
			font-weight: 400
			font-family: var(--gelion)
		p
			font-weight: 300
		strong
			font-weight: 700
	@media all and (max-width: 1024px)
		.lets-rock-page
			.container
				margin-top: 100px
			.header-block
				padding: 150px 0 100px
				height: auto
	@media all and (max-width: 900px)
		.text-block
			margin-top: 80px
			font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 3.2759)), 35px)
			line-height: 120%
	@media all and (max-width: 600px)
		.lets-rock-page
			.arrow-the-team
				display: none
			h1
				font-size: 160px
	@media all and (max-width: 400px)
		.lets-rock-page
			h1
				font-size: clamp(130px, calc(8.125rem + ((1vw - 3.2px) * 37.5)), 160px)
</style>

